
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
                <defs>
                    <filter id="a" width="42" height="42"  x="-13.3%" y="-11.7%" filterUnits="objectBoundingBox">
                        <feOffset dy=".5" in="SourceAlpha" result="shadowOffsetOuter1"/>
                        <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1"/>
                        <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0"/>
                        <feMerge>
                            <feMergeNode in="shadowMatrixOuter1"/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                    </filter>
                    <path id="b" d="M0 0h10v22H0z"/>
                </defs>
                <g fill="none" fill-rule="evenodd" filter="url(#a)" transform="translate(3 3)">
                    <circle cx="16" cy="16" r="16" fill="#323031" stroke="#FFF" stroke-width="2"/>
                    <g transform="translate(11 5)">
                        <mask id="c" fill="#fff">
                            <use xlink:href="#b"/>
                        </mask>
                        <path fill="#FFF" d="M8.964 14.448c-.141.452-.43.654-1.247 1.173-.141.09-.299.19-.464.298-.098-.979-.18-1.76-.215-2.017-.117-.887-.565-1.957-1.846-1.957-1.282 0-1.567 1.07-1.685 1.957a130.71 130.71 0 0 0-.278 2.647l-.404-.296c-1.155-.842-1.587-1.157-1.79-1.805-.303-.97.717-10.153 1.709-13.034.05-.143.098-.155.154-.169.787-.191 2.024-.24 2.173-.244.132.005 1.241.052 2.031.244.056.014.104.026.154.169.991 2.88 2.012 12.064 1.708 13.034M8.188 1.085C8.04.653 7.745.372 7.333.272 6.399.045 5.14.002 5.088 0l-.016.5-.014-.5c-.06.002-1.456.045-2.391.272-.411.1-.707.381-.856.813C.843 3.898-.345 13.35.094 14.75c.302.963.92 1.415 2.153 2.314.257.188.547.4.87.642-.194 2.054-.375 4.176-.327 4.293h4.965c.054-.13-.175-2.721-.39-4.955.329-.226.625-.416.877-.576.846-.538 1.406-.893 1.664-1.718.439-1.402-.75-10.853-1.718-13.666" mask="url(#c)"/>
                    </g>
                </g>
            </svg>
                         
              Number of Devices: {{ sumDevices }}
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >
            <svg width="42" height="42"  fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 14C4.75 15.7949 6.20507 17.25 8 17.25H16C17.7949 17.25 19.25 15.7949 19.25 14C19.25 12.2869 17.9246 10.8834 16.2433 10.759C16.1183 8.5239 14.2663 6.75 12 6.75C9.73368 6.75 7.88168 8.5239 7.75672 10.759C6.07542 10.8834 4.75 12.2869 4.75 14Z"/>
            </svg>
            Weather API
          </a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="about">
            <svg width="42" height="42" fill="none" viewBox="0 0 24 24">
              <circle cx="12" cy="12" r="3.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 19.25C7.99594 19.25 4.75 16.0041 4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C18.8125 4.75 19.25 9.125 19.25 12V13.25C19.25 14.3546 18.3546 15.25 17.25 15.25V15.25C16.1454 15.25 15.25 14.3546 15.25 13.25V8.75"/>
            </svg>
            About
          </a>
        </li>
      </ul>
    </div>
</nav>