
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# webwelo ingore
webwelo/node_modules
webwelo/.env
webwelo/.DS_Store
webwelo/.vscode
webvelo/.eslintrc.js
webvelo/.prettierrc.js

# server-velo ingore
server-velo/node_modules
server-velo/.env
server-velo/.DS_Store


public

.vscode
package-lock.json
package.json

.DS_Store
.env
