<div id="map" class="map-sytle"></div>

<!-- <div>
  <div id="station-photos">
    <h4> station-name </h4>
    <img src="">
  </div>
  <div id="stats">
    <p> [aktuális év] éves össz kerékpár forgalom: [number] </p>
    <ul>
      <li>Heti</li>
      <li>Havi</li>
      <li>Éves</li>
    </ul>
    <ul>
      <li>irány 1</li>
      <li>irány 2</li>
    </ul>
    <div id="stat-graph">
      <p> ez itt a gráf </p>
    </div>
  </div>
</div> -->

<!-- <ul>
    <li *ngFor="let station of stationPos">
      StationID: {{ station.StationID }}, Latitude: {{ station.posLatitude }}, Longitude: {{ station.posLongitude }}
    </li>
  </ul> -->
<!-- <div *ngIf="stationPos">

<!-- for a station -->
    <!-- <p>{{ stationList.StationID }}</p>
    <p>{{ stationList.StationName }}</p>
    <p>{{ stationList.StationUid }}</p>
    <p>{{ stationList.isApproved }}</p>
    <p>{{ stationList.posLatitude }}</p>
    <p>{{ stationList.posLongitude }}</p> -->
<!-- for all stations -->
   <!-- <ul *ngFor="let station of stationPos">
        <li>{{ station.StationID }}</li>
        <li>{{ station.posLatitude }}</li>
        <li>{{ station.posLongitude }}</li>
    </ul> -->
<!-- </div> -->
